---
layout: "inner"
sidebar_current: "about-sponsors"
sidebar_title: sponsors_sidebar_title
sidebar_template: "about"
---

<h2><%= I18n.t :sponsors_h2 %></h2>
<p>
<%= I18n.t :sponsors_p_line1 %>

<div class="Modules sponsors">
	<ul>
		<li><a href="http://kiip.com"><%= image_tag "/images/sponsors/kiip.png" %></a></li>
		<li><a href="http://typekit.com"><%= image_tag "/images/sponsors/typekit.png" %></a></li>
	</ul>
</div>
</p>
